<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<p><%= link_to "Review", restaurant_reviews_path %></p>
<p><%= link_to "Index", restaurant_path%></p>

